body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #2e2e2e;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.buyButton {
    background-color: #0088cc;
    color: #ffffff;
    border: none;
    padding: 0.8em 1.5em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.buyButton:hover {
    background-color: #006699;
}

/* Скрываем чекбокс */
#prankToggle {
    display: none;
}

/* Стили для оверлея с картинкой */
.prank-overlay {
    display: none; /* Скрываем по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Темный фон */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.prank-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.prank-overlay p {
    font-size: 2em;
    margin-top: 1em;
}

/* Показываем оверлей, когда чекбокс отмечен */
#prankToggle:checked ~ .prank-overlay {
    display: flex;
}